/* 预定义一些常用的类 */

// 文本部分显示+省略号
.cus-text-ellipsis {
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
  // 自行补充 line-clamp;
  //-webkit-line-clamp: 1;
}